@mixin flex($justify: flex-start, $align: flex-start, $direction : row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin bgPattern() {
  background-color: #eee;
}