@mixin flex($justify: flex-start, $align: flex-start, $direction : row, $wrap: nowrap, $gap : 0) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bgPattern() {
  background-color: #eee;
}