.c-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 2rem;
  justify-items: center;
  gap: 1rem;
}

.c-not-found {
  text-align: center;

  &__icon {
    width: 8rem;
    height: 8rem;
    font-size: 8rem;
    color: #aaa;
  }
}