@use '../../styles/mixins' as *;

.c-form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;

  &__actions {
    @include flex(space-between, center, $wrap: wrap, $gap: 1rem);
    margin-top: 1rem;

    &--full-width {
      grid-column: 1/-1;
    }
  }

  &__field {
    margin-top: 1rem;

    &--full-width {
      grid-column: 1/-1;
    }
  }
}

.c-title {
  @include flex(space-between, center);
}